@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

/*Partners logo fonts */

@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@900&family=Montserrat&family=Raleway:wght@500&family=Roboto&family=Zilla+Slab:wght@600&display=swap");

@font-face {
  font-family: "COCOGOOSE Regular";
  font-style: normal;
  font-weight: normal;
  src: local("COCOGOOSE Regular"), url("/fonts/cocogoose_trial.woff") format("woff");
}

.theme-color-orange {
  color: #ec5242;
}

.theme-color-grey {
  color: #686868;
}

.theme-color-black {
  color: #272a31;
}
.top-bar {
  background-color: #272a31;
}
